h1,h2,h3,h4{
font-family: "Geist", sans-serif;  font-weight: 700;
  font-style: normal;
}

p{
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 15px;
  font-size: 22px;
  letter-spacing: .8px;
}

