/* Defaults & style */
* {
  margin                  : 0;
  padding                 : 0;
  box-sizing              : border-box;
  text-rendering          : optimizeLegibility;
  -webkit-font-smoothin   : antialiased;
  -moz-osx-font-smoothing : grayscale;
  font-kerning            : auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* https://stackoverflow.com/questions/5102820/scrolling-of-whole-page-instead-of-inner-div-only */
/* html, body { height: 100%; }  */
html,body{
  margin    : 0px;
  top       : 0px;
  background: var(--bg-color);
  overflow-x: hidden;
}
/* - #0C1F41 - background
- #D02934 - header
- #0C1F41 - font
- #222222 - border */
/* dark scroll bar */
:root {
  --bg0 : #ffffff;
  --bg1 : #0C1F41;
  --bg2: #13336a;
  --pc0 : #0F0C1F;
  --pc1 : #ffffff;
  --h3c : #D02934;
  --h2c : #ffffff;
  --h1c : #ffffff;
}
html,body{
  font-family        : "Inter", serif;
  font-optical-sizing: auto;
  font-weight        : 100;
  font-style         : normal;
  color              : black;
  font-size          : 25px;
  height             : 100%;
  width              : 100vw;
}
html{
  background-color: var(--bg1);
}
body{
  background      : var(--bg0);
}
@media (pointer: coarse) {
  a:hover {
    all: revert-layer;
  }
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  opacity: .6;
}
.link{
  color: purple;
}
.link:hover{
  cursor: pointer;
  opacity: .6;
}
img {
  /* filter: sepia(20%) grayscale(20%) contrast(150%); */
  transition: filter .3s ease;
}
.space{
  display: block;
  width: 100%;
  height: max-content;
}
.horizontal-center{
  display      : grid;
  width        : 100%;
  justify-items: center;
}
.padding{
  display: block;
  width: 100%;
  height: 300px;
}
.if-small-screen{
  display: none;
}
.if-big-screen{
  display: block;
}
@media screen and (max-width: 1200px){
  .if-small-screen{
    display: block !important;
  }
   .if-big-screen{
    display: none !important;
  }
}




.hero{
  display: grid;
  background: var(--bg1);
  width: 100vw;
  padding: 0px 15px 25px 15px;
  overflow-x: hidden;
  text-overflow: break-word;
}
.vote{
  text-align:center;
  color: var(--pc1);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  font-size: 18px;
  transition: background .2s;
  padding: 8px 0px 3px 0px; 
  letter-spacing: 1px;;
}
.vote:hover{
  opacity: .8;
  background-color: var(--bg2);
} 
#donateBtn{
  border-radius: 5px;
  border: 1px solid var(--h3c);
  height: min-content;
  justify-self: end;
  align-self: center;
  padding: 10px;
  color: var(--pc1);
  font-family: "Geist", sans-serif;
  font-weight: 400;
  background-color: var(--h3c);
  transition: opacity .1s;
  transition: color .3s;
  transition: background .3s;
}
#donateBtn:hover{
  /* opacity: .5; */
  cursor: pointer;
  background-color: var(--bg1);
  color: var(--h1c);
  border: 1px solid var(--h1c);
}
.logo-container{
  display: grid;
  grid-template-columns: 260px auto 200px;
  padding-right: 20px;
}
.logo{
  width: 250px;
  padding: 10px;
  align-self: start;
}
.socials{
  display: grid;
  grid-template-columns: repeat(auto-fit, 25px);
  color: var(--pc1);
  font-size: 18px;
  align-content: center;
  justify-content: center;
  grid-gap: 8px;
}
.social{

}
.social:hover{
  opacity: .5;
  cursor: pointer;
}
.navbar{
  height: 60px;
}
.bubble{
  border-radius: 100%;
  width: 350px;
  height: 350px;
  background-image: url("/banner2.jpg");
  background-position: -160px 0px;
  background-size: 160%;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  /* margin-right: px; */
  margin-top: -10px;
}
.banner{
  margin-left: -15px;
  width: 100vw;
  height: auto;
  background-image: url("/banner2.jpg");
  background-position: center;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  /* margin-right: px; */
  margin-top: -10px;
  margin-top: 10px;
}
.herocontent{
  padding-top: 30px;
  width: 550px;
  justify-self: center;
}
.lizzies-suggestion{
  padding-top: 10px;
  font-size: 26px !important;
  line-height: 30px;
  /* font-weight: 400; */
}
.hero-line1{
  color: var(--h3c);
}
.hero-line2{
  color: var(--h2c);
}
/* .hero h3{
  color: var(--h3c)
} */
.hero p{
  color: var(--pc1);
  font-size: 18px;
}

.section-header{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--bg2);
}
.section-divider{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 2px;
  background: var(--bg2);
  opacity: .2;
  margin-top: 10px;
  margin-bottom: 10px;
}
.meet-joshua{
  display: grid;
  width: 100%;
  background-color: whitesmoke;
  padding-bottom: 20px;
}
.meet-section{
  padding: 0px 100px 0px 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}
.meet-section img{
  padding: 40px;
}
.meet-section p{
  align-content: center;
  padding: 0px 20px 0px 20px;
  font-size: 22px;
  font-weight: 800px !important;
  line-height: 26px;
}



.take-action{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 25px;
}
.action{
  display: grid;
  transition: opacity .1s;
  background-color: white;
  padding: 0px;
  justify-items: center;
}
.action p{
  padding-top: 10px;
  font-size: 23px !important;
  font-weight: 400px;
  color: var(--bg2) !important;
  text-align: center;
}
/* .action:hover{
  cursor: pointer;
  opacity: .5;
} */
.action img{
  max-width: 350px;
}



.footer{
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 18px;
  color: var(--bg2);
  padding: 40px 0px 40px 0px;
}


/* Small screens */
@media screen and (max-width: 800px) {
  /* CSS styles for devices at least 800px wide go here */
  .herocontent{
    width: 100%;
  }
  .logo{
    width: 150px;
  }
  .bubble{
    width: 250px;
    height: 250px;
    margin-top:20px;
  }
  .logo-container{
    display: grid;
    grid-template-columns: 150px auto 160px;
    margin-right:0px;
    padding-right:0;
  }
  .meet-section{
    grid-template-columns: 100%;
    align-content: center;
    justify-content: center;
  }
  .action img{
    max-width: 150px;
  }
}
@media screen and (max-width: 1200px) {
   .meet-section{
      grid-template-columns: 100%;
      padding: 40px 0px 0px 0px;
   }
   .meet-section img{
    max-width: 640px;
    justify-self: center;
    padding: 0px 10px 0px 10px;
   }
   .meet-section p{
      max-width: 640px;
      padding: 0px;
      justify-self: center;
      padding: 5px 12px 15px 12px;
   }
}
